@import '../../../styles/includes/';

$options-ball: 22.5px;
$options-spacing: 90px;

.container {
  width: 100%;
  max-width: rem(1320px);
  padding: 0 $spacing-x6 $spacing-x4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerTitle {
    @include font-size($text-body-1, 700);
    color: $gray-800;
    margin: 0;
  }

  .headerInfo {
    display: flex;
    justify-content: space-between;

    .options {
      margin-bottom: 0;
      position: relative;
      @include font-size($text-body-2);
      color: $gray-900;

      &::before {
        content: '';
        position: absolute;
        left: -$spacing-x5;
        top: 50%;
        transform: translateY(-50%);
        width: $options-ball;
        height: $options-ball;
        border-radius: 50%;
      }

      &.confirmed {
        &::before {
          background-color: $bg-red;
        }
        padding-right: $options-spacing;
      }

      &.possible {
        &::before {
          background-color: $gray-500;
        }
      }
    }

    .textCapitalize {
      text-transform: capitalize;
    }
  }
}
