@import '../../../styles/includes';

$logo-mobile-width: 102px;
$logo-desktop-width: 138px;

.header {
  @include container-max-width;
  transform: translateX(-50%);
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  background-color: $white;
  z-index: 99;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-x2;

  @include media-breakpoint-up(md) {
    padding: $spacing-x3;
    padding-left: $spacing-x7;
  }
}

.shareButton {
  border: 1px solid transparent !important;
  > span {
    margin: rem(3px) rem(12px) !important;
    font-weight: 400 !important;
    > svg {
      stroke: orange !important;
    }
  }
}
